<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Demo.Installer" Language="1033" Version="1.0.0.0" 
			 Manufacturer="Demo Instller Ltd" UpgradeCode="7e6d892d-cc53-45a3-8e3d-0b6b5c2c15a4">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<WixVariable Id="WixUILicenseRtf" Value=".\Resources\License.rtf" />

		<Feature Id="ProductFeatures" Title="Demo Installer" Level="1" 
				 ConfigurableDirectory="INSTALLFOLDER" InstallDefault="local">
			<Feature Id="ClientFeature" Title="Demo.Client" Level="1">
				<ComponentGroupRef Id="ClientComponent" />
			</Feature>
		
			<Feature Id="ServerFeature" Title="Demo.Server" Level="1">
				<ComponentGroupRef Id="ServerComponent" />
			</Feature>

			<ComponentRef Id="InstallRegistry"/>
		</Feature>		
	</Product>

	<!-- Directory/Folder -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Demo-Installer">
					<Directory Id="CLIENTFOLDER" Name="DemoClient" />
					<Directory Id="SERVERFOLDER" Name="DemoServer" />
				</Directory>
			</Directory>
		</Directory>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="CustomInstallDialog" />
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ClientComponent" Directory="CLIENTFOLDER">
			<ComponentGroupRef Id="ApplicationClientComponents"/>			
		</ComponentGroup>
	
		<ComponentGroup Id="ServerComponent" Directory="SERVERFOLDER">
			<ComponentGroupRef Id="ApplicationServerComponents"/>
		</ComponentGroup>
	</Fragment>
	
	<!-- Registry -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="InstallRegistry" Guid="*">
				<RegistryKey Root="HKCU"
							 Key="Software\Microsoft\DemoInstaller"
					  Action="createAndRemoveOnUninstall">
					<RegistryValue Name="InstallRootPath" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes"/>
				</RegistryKey>
			</Component>
		</DirectoryRef>		
	</Fragment>
</Wix>
