<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="Demo.ApplicationServer.Impls.PatientService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12100/" />
          </baseAddresses>
        </host>
      
        <endpoint address="patients/" 
                  binding="webHttpBinding" 
                  contract="Demo.ServerLibs.Contracts.IPatientService" />
      </service>
    </services>
    
  </system.serviceModel>

  <!--
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="sdt"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="ErrorTrace.e2e" />
          </listeners>
        </source>
    </sources>
  </system.diagnostics>
  -->
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>